*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: MiSans,MI Lan Pro,serif;
}

body{
    overflow-y: hidden;
}
i.centerIcon{
    line-height: 1em;
    height: 1em;
    margin-right: 5px;
}