*{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    font-family: MiSans,MI Lan Pro,serif;
}
:root{
    --el-color-primary: #93b27b;
    --el-color-primary-light-1: #9eba88;
    --el-color-primary-light-2: #a9c195;
    --el-color-primary-light-3: #b3c9a3;
    --el-color-primary-light-4: #bed1b0;
    --el-color-primary-light-5: #c9d9bd;
    --el-color-primary-light-6: #d4e0ca;
    --el-color-primary-light-7: #dfe8d7;
    --el-color-primary-light-8: #e9f0e5;
    --el-color-primary-light-9: #f4f7f2;

    --el-color-primary-dark-2: #768e62;
}